# GEO raw data
data/GSE256292/
data/raw_data/
data/annotation_GPL15207-17536.csv

# Compressed/raw files
*.tar
*.tar.gz
*.gz

# R temporary files
*.Rhistory
*.RData
*.Rproj.user/
.RDataTmp
*.RDataTmp
